#showPizza, .address, .addressShow {
  display: none;
}

.pizzas {
  float: left;
  margin-right: 200px;
}

.address {
  margin-top: 12px;
}

.orderInfo {
  margin-top: 20px;
  border: 2px solid red;
  background-color: #ff8080;
}
